<% provide(:title, "Sign in") %>
<h1>Sign in</h1>


<div class="row">
  <div class="span6 offset3">
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Sign in" %></p>
<% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
   </div>
</div>